<%- include("template/cabecera.ejs", {tituloWeb: "Lista de editoriales" })%>

    <div class="container">
        <!-- Será el listado de pokemon -->
        <div class="container">
            <h1 class="p-5 text-center">Todas las editoriales</h1>
            <h5 class="pb-5 text-center">Si estás buscando libros por editorial, has llegado al lugar adecuado.</h5>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% if (arrayEditoria.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayEditoria.forEach(editorial=> { %>
                        <div class="col-4 p-3">
                            <div class="card shadow-sm">
                                <img src="../images/editorial-ejemplo.jpg" alt="editorial">
                                <div class="card-body">
                                    <a href="editoriales/<%= editorial.id %>"><img id="img-editar"
                                            src="../images/editar.png" alt="editar"></a>
                                    <h1>
                                        <%= editorial.nombre %>
                                    </h1>
                                    <p class="card-text">
                                        <%= editorial.descripcion %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>
        <a class="btn btn-success my-4" href="/editoriales/crear-editorial">Crear nueva editorial</a>
    </div>

    <%- include("template/footer.ejs")%>